<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    {{category}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a ng-click="changeCategory('asian')">Asian</a></li>
    <li><a ng-click="changeCategory('cute')">Cute</a></li>
    <li><a ng-click="changeCategory('findher')">Find Her</a></li>
    <li><a ng-click="changeCategory('burnbra')">Burn Bra</a></li>
    <li><a ng-click="changeCategory('fuego')">Fuego</a></li>
    <li><a ng-click="changeCategory('humpday')">Hump Day</a></li>
  </ul>
</div>
