<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Chive Smash</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
  <script src="app.js"></script>
  <script src="partials/main/mainCtrl.js"></script>
  <script src="partials/main/asian/asianCtrl.js"></script>
  <script src="partials/main/cute/cuteCtrl.js"></script>
  <script src="partials/main/findher/findherCtrl.js"></script>
  <script src="partials/rankings/rankingsCtrl.js"></script>
  <script src="directives/category-dropdown/categoryDropdownCtrl.js"></script>
  <script src="directives/ranking-view/rankingViewCtrl.js"></script>

</head>
<body>
  <ui-view></ui-view>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
