<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <base href="/">
  <title>Chive Smash</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
  <script src="app.js"></script>
  <script src="controllers/mainCtrl.js"></script>
  <script src="controllers/toggleViewCtrl.js"></script>
  <script src="controllers/rankingsCtrl.js"></script>
  <script src="directives/category-dropdown/category-dropdown.js"></script>
  <script src="directives/ranking-view/ranking-view.js"></script>

</head>
<body>

  <ui-view></ui-view>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
