<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center headerArea">
      <h1>The Rankings</h1>
      <button class="btn btn-lg btn-success" ui-sref="main">Back</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 categoriesArea">
      <div class="row">
        <div class="col-xs-4">
          <category-dropdown view="1"></category-dropdown>
        </div>
        <div class="col-xs-4">
          <category-dropdown view="2"></category-dropdown>
        </div>
        <div class="col-xs-4">
          <category-dropdown view="3"></category-dropdown>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 rankingColumn">
      <div class="row">
        <ranking-view category={{views[1]}}></ranking-view>
        <ranking-view category={{views[2]}}></ranking-view>
        <ranking-view category={{views[3]}}></ranking-view>
      </div>
    </div>
  </div>
</div>
